<div class="col-sm-12">
    <h2>{{title}}</h2>
</div>
<div class="form-group">
    <label for="typeCmb" class="col-sm-2 control-label">Type</label>

    <div class="col-sm-12" [hidden]="!noAnswersSet">
        <select id="typeCmb" class="form-control" [(ngModel)]="question.dtype">
            <option selected value="MULTIPLE">Multiple Choice</option>
            <option value="SINGLE">Single Choice</option>
            <option value="FREETEXT">Freetext</option>
            <option value="PUZZLE">Puzzle</option>
        </select>
    </div>
    <div class="col-sm-12" [hidden]="noAnswersSet">
        <span id="typeTxt" [ngSwitch]="question.dtype">
            <span *ngSwitchWhen="'MULTIPLE'">Multiple Choice</span>
            <span *ngSwitchWhen="'SINGLE'">Single Choice</span>
            <span *ngSwitchWhen="'FREETEXT'">Freetext</span>
            <span *ngSwitchWhen="'PUZZLE'">Puzzle</span>
        </span>
    </div>
</div>
<div class="form-group">
    <label for="textTxt" class="col-sm-2 control-label">Text</label>

    <div class="col-sm-12">
        <textarea rows="4" class="form-control" id="textTxt" [(ngModel)]="question.text"></textarea>
    </div>
</div>
<div class="form-group">
    <label for="scorePointsTxt" class="col-sm-2 control-label">Scorepoints</label>

    <div class="col-sm-12">
        <input type="number" class="form-control" id="scorePointsTxt" min="0" max="100" [(ngModel)]="question.scorePoints">
    </div>
</div>

<div class="form-group" *ngIf="question.answers">
    <label class="col-sm-2 control-label">Answers</label>
    <div class="col-sm-10">
        <i21-answers-table [answers]="question.answers" [removable]="true"></i21-answers-table>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-10">
        <button type="button" class="btn btn-default" (click)="addAnswer()">Add Answer</button>
    </div>
</div>
<div class="form-group" [hidden]="noAnswersSet">
    <div class="col-sm-10">
        <button type="button" class="btn btn-default" (click)="save()">Save</button>
    </div>
</div>