<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th>Order</th>
                <th>Type</th>
                <th>Text</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row" *ngFor="#answer of answers" (click)="click(answer)">
                <td>{{answer.order}}</td>
                <td>{{answer.dtype}}</td>
                <td>{{answer.text}}</td>
                <td>{{answer.weight}}</td>
            </tr>
        </tbody>
    </table>
</div>