<div class="col-sm-12">
    <h2>{{title}}</h2>
</div>
<div class="form-group">
    <label for="examTitleTxt" class="col-sm-2 control-label">Title</label>

    <div class="col-sm-12">
        <input type="text" class="form-control" id="examTitleTxt" [(ngModel)]="exam.title">
    </div>
</div>
<div class="form-group">
    <label for="maxScoreTxt" class="col-sm-2 control-label">Max. score</label>

    <div class="col-sm-12">
        <input type="text" class="form-control" id="maxScoreTxt" [(ngModel)]="exam.maxScorePoints">
    </div>
</div>
<div class="form-group">
    <label for="durationTxt" class="col-sm-2 control-label">Max. duration ({{exam.duration}} minutes)</label>

    <div class="col-sm-12">
        <input type="range" class="form-control" id="durationTxt" step="5" min="5" max="240" [(ngModel)]="exam.duration">
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        <button type="button" class="btn btn-default" (click)="addQuestion()">Next</button>
    </div>
</div>
